.Home h1 {
  font-size: 55px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.container {
  width: 60vw;
  height: 70vh;
  margin: auto;
  display: flex;
  gap: 15px;
  color: rgba(0, 0, 0, 0.747);
}
.left {
  width: 60%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.247);
  overflow-y: scroll;
  border-radius: 5px;
}
.left .LeftHead {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
.left .button {
  display: flex;
  gap: 10px;
}
.ExpenseDetails {
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.right {
  width: 40%;
  height: 100%;
  background-color: rgba(222, 184, 135, 0.247);
  backdrop-filter: blur(3.5px);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.right .TotalExpense {
  font-size: 35px;
  font-weight: 500;
  margin: 10px auto 0 auto;
}
.right form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.right form label {
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0 5px 0;
}
.right form input {
  border: none;
  height: 32px;
  font-size: 15px;
  padding: 0 5px;
  border-radius: 4px;
}
.right form select {
  border: none;
  height: 32px;
  font-size: 15px;
  padding: 0 5px;
  border-radius: 4px;
}
.right form input:focus {
  outline: none;
}
.right form button {
  width: 130px;
  height: 32px;
  margin: 10px 0;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
}
@media (max-width: 596px) {
  .Home h1 {
    font-size: 30px;
    margin: 15px 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 88vh;
    margin-bottom: 20px;
  }
  .left {
    width: 100%;
    height: 300px;
  }
  .right {
    width: 100%;
    height: 300px;
  }
  .right .TotalExpense {
    font-size: 20px;
    margin: auto;
  }
  .left .LeftHead {
    font-size: 25px;
  }
  .right form label {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
  }
  .right form input {
    height: 25px;
    font-size: 12px;
  }
  .right form select {
    height: 25px;
    font-size: 12px;
  }
  .right form button {
    width: 130px;
    height: 28px;
    margin: 8px 0;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
}
