@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover state color */
}

/* For Firefox */
/* You can use these styles to customize the scrollbar */
body {
  scrollbar-width: thin; /* "thin", "auto", or "none" */
}

body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover state color */
}
